body {
  background-image: <img src="gatinho.jpg.jpg"
		alt="gatinho.jpg.jpg" style="width:300; height:200px;"/>
  background-color: #cccccc;
  background-color: lightgray;
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px;
}

p {
  font-family: Helvetica;
  font-size: 30px;
}
